@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: "Outfit", sans-serif;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 5rem; /* Adjusts scroll position to account for fixed navbar */
  }